*{
    margin: 0 auto;
    background-image:url("https://img.freepik.com/free-photo/psychedelic-paper-shapes-with-copy-space_23-2149378308.jpg?semt=ais_hybrid&w=740");
    background-size: cover;
};
.t1,.t2{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
    z-index: -100;
};
input{
    
}