.p{
    font-size: 1.2rem;
    color: red;
    margin: 0.5rem 0;
}
.d{
    background-color: yellow;
    border: 1px solid black;
}
.btn{
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color:cornflowerblue;
}