body{
    align-items: center;
    justify-content: center;
}
.div{
    border: 1px solid black;
    height: 100px;
    width: 500 px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.p{
    font-size: 1.2rem;
    color: red;
    margin: 0.5rem 0;
}